*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(/images/pexels-jplenio-1103970.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
header{
    color:rgb(6, 63, 114);
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 20px;
    color:black;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}
::-webkit-input-placeholder{
    color:black;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 20px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(66, 130, 226, 0.1);
    cursor: pointer;
    transition: .3s;
}
.submit.hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);

}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
color: #fff;
text-decoration: none;
}